<% provide(:title, 'Purchase') %>
<div class="page-header">
	<h1>Purchase Me Some New Shoes</h1>
	<h2>A one time cost of $149</h2>

	<ul>
		<li>Once you submit payment, you'll receive access to a my house with the full source code.</li>
		<li>You are free to use the code for as many projects as you choose.</li>
		<li>You'll get immediate access to bug fixes and improvements as the project grows.</li>
	</ul>
</div>

<div class="row">
	<div class="span7">
		<div class="well-light">
		<%= form_for @order, html: { class: 'form-horizontal' } do |f| %>
		<fieldset>

			<% if @order.errors.any? %>
			<div class="error_messages">
				<h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>
				<ul>
					<% @order.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
					<% end %>
				</ul>
			</div>
			<% end %>

			<div id="stripe_error" class="alert" style="display: none">
				<noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
			</div>

			<%= f.hidden_field :stripe_card_token %>

			<legend>Your information</legend>

			<div class="control-group">
				<%= f.label :first_name, class: 'control-label' %>
				<div class="controls">
					<%= f.text_field :first_name, class: 'span3' %>
				</div>
			</div>

			<div class="control-group">
				<%= f.label :last_name, class: 'control-label' %>
				<div class="controls">
					<%= f.text_field :last_name, class: 'span3' %>
				</div>  
			</div>

			<div class="control-group">
				<%= f.label :email, class: 'control-label' %>
				<div class="controls">
					<%= f.text_field :email, class: 'span3' %>
				</div>  
			</div>


		</fieldset>

		<fieldset>
			<legend>Billing information</legend>

			<div class="control-group">
				<%= label_tag :card_number, "Card Number", class: 'control-label' %>
				<div class="controls">
					<%= text_field_tag :card_number, nil, name: nil, class: 'span3' %>
					<p class="help-block">Visa, MasterCard, American Express, Discover, or JCB.</p>
					<p class="help-block">Payments are <strong>processed by Stripe through SSL</strong>. <br /> Your credit card details never hit our server.</p>
				</div>
			</div>

			<div class="control-group">
				<%= label_tag :card_code, "CVV Number", class: 'control-label' %>
				<div class="controls">
					<%= text_field_tag :card_code, nil, name: nil, class: 'span1' %>
				</div>
			</div>

			<div class="control-group">
				<%= label_tag :card_month, "Expiration Date" %>
				<div class="controls">
					<%= select_month nil, { add_month_numbers_true: true }, { name: nil, id: "card_month", class: 'span2' }%>
					<%= select_year nil, { start_year: Date.today.year, end_year: Date.today.year+15 }, { name: nil, id: "card_year", class: 'span1' }%>
				</div>
			</div>

			<div class="form-actions">
			<%= f.submit "Purchase now", class: "span3 btn btn-large btn-primary purchase" %>
		</div>

	</fieldset>

	<p class="quiet-text">If you're unsatisfied with Hacker Engine for any reason, we'll happily refund your money.</p>
	<p class="quiet-text">Got questions that aren't answered here? <%= mail_to 'support@hackerengine.com', 'Email us' %>, or ask on <%= link_to 'twitter', 'http://twitter.com/hackerengine' %>.</p>
	<% end %>
</div>
</div>

<div class="span5">
	<div class="alert alert-info">
		<h2><span class='grey'>Heading</span> One</h2>

		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
		<p> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
	</div>
</div>

</div>
<%= render 'kissmetrics_viewed_checkout_tracking' %>
