<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Hacker Engine is a tricked-out Rails app for developers who want to sell digital goods.">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <title>Hacker Engine &mdash; The fast and easy way to sell digital goods</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "https://js.stripe.com/v1/", "application" %>
    <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
    <%= csrf_meta_tags %>
    <%= render 'shared/kissmetrics' %>
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '']);
      _gaq.push(['_setDomainName', '']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>

  <body>
    <%= render 'shared/banner' %>

    <div class="container">
      <%= render 'shared/flashes' %>
      <%= yield %>
    </div>
  </body>
</html>
